.toaster-wrapper {
  color: white;

  .toast-header {
    padding-top: 0;
    background-color: transparent;
    color: white;
    border: none;

    ._title {
      font-weight: 600;
      font-size: medium;
    }

    button.close {
      opacity: 1;
      color: white;
      font-weight: 400;
    }
  }

  ._content {
    padding: 8px;

    ._body {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 12px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    h5 {
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 0;
    }

    &.success {
      background-color: $brand-success;
    }

    &.danger {
      background-color: $brand-danger;
    }
  }
}

// virtual card component
.card-vcc-wrapper {
  background: linear-gradient(to right, #253265, #254280);
  padding: 12px 18px;
  border-radius: 12px;
  min-width: 325px;

  .card-details {
    .card-info-header {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .cs-label {
        margin-top: 2px;
        color: #94b0d5;
        font-size: 6px;
      }

      .vc-label {
        margin-top: 6px;
        font-size: 10px;
      }
    }

    .card-info-footer {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .info-text {
        p {
          font-size: 6px;
        }

        span {
          font-size: 10px;
        }
      }
    }

    .label {
      font-size: 4px;
      font-weight: 700;
      color: #687da9;
      margin-right: 6px;
    }

    .value {
      font-weight: 300;
      font-size: 20px;
    }

    .account-number {
      margin-bottom: 6px;
    }

    .sub-info {
      display: flex;
      align-items: center;
    }

    .sec-code,
    .exp-date {
      display: flex;
      align-items: center;
      margin-right: 18px;
      text-align: right;
    }
  }

  p {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.card-ach-wrapper {
  position: relative;
  background: linear-gradient(to right, #94b0d5, #e5ecf5);
  padding: 12px 18px;
  border-radius: 12px;
  margin: 12px;
  min-width: 325px;

  .card-details {
    .overlay-bank {
      position: absolute;
      right: 0;
      bottom: 20px;
    }

    .card-info-header {
      margin-bottom: 28px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .label {
      font-size: 8px;
      font-weight: 700;
      color: #687da9;
    }

    .value {
      font-weight: 300;
      font-size: 20px;
      color: #2960aa;
    }

    .account-number {
      margin-bottom: 18px;
    }

    .sub-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  p {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 0;
  }
}

.c-sidebar {
  color: inherit;
}

// modal sidebar component
.modal-sidebar {
  // color: #23232e;

  button.close {
    color: #23232e;
  }

  .email-receipt,
  .non-domestic-supplier {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
    }
  }
}

// modal receipt component
.modal-receipt {
  .receipt-table {
    margin: 12px 0 18px;

    .t-header {
      background-color: #23232e;
      padding: 12px 16px;
      border-radius: 4px 4px 0 0;

      h4 {
        color: white;
        margin-bottom: 0;
      }
    }

    .t-body {
      background-color: #ebedef;
      padding: 12px 16px;
      border-radius: 0 0 4px 4px;

      .invoice{
        overflow-wrap: anywhere;
      }
    }

    .divider {
      border-bottom: solid 0.5px #23232e;
      margin-bottom: 14px;
    }
  }

  .text-ack {
    text-align: justify;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.tippy-box {
  .tippy-content {
    text-align: left;
    max-width: 400px;
    padding: 8px 12px;
  }
}

.icon-button-primary {
  border-radius: 4px;
  background-color: transparent;
  color: $brand-primary;
  display: flex;
  align-items: center;
  padding: 4px;

  &:hover {
    background-color: rgba(0, 53, 102, 0.25);
  }
}

.copy-button {
  border-radius: 4px;
  color: $brand-secondary;
  background-color: rgba(61, 146, 194, 0.25);
  display: flex;
  padding: 4px;
}

.card-button-list {
  display: flex;
  justify-content: center;

  ._item {
    border-radius: 4px;
    background-color: transparent;
    color: $brand-primary;
    display: flex;
    margin: 0 4px;
    padding: 6px;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 53, 102, 0.25);
    }
  }
}

.btn-disabled-grey {
  color: white !important;
  background-color: $gray-500 !important;
  border-color: $gray-500 !important;
}

// *******************************************

@media (min-width: 1200px) {
  .card-vcc-wrapper,
  .card-ach-wrapper {
    min-width: 285px;
    .card-details {
      .card-info-header {
        margin-bottom: 6px;
      }

      .value {
        font-size: 20px;
      }
      .name-value {
        font-size: 15px;
      }
    }
  }

  .card-ach-wrapper {
    .card-details {
      .card-info-header {
        margin-bottom: 21px;
      }

      .account-number,
      .card-holder-name {
        margin-bottom: 21px;
      }
    }
  }

  .card-vcc-wrapper {
    max-width: 240px;
    width: 240px;

    .card-details {
      .card-info-header {
        margin-bottom: 6px;
      }
    }
  }
}

.flight-passenger-form {
  background-color: #ebedef;
  border-radius: 4px;
}

.table-flight-passenger {
  thead {
    th {
      background-color: #23232e;
      border: solid 1px #23232e;
      color: white;
    }
  }
  tbody {
    tr {
      border: solid 1px #ebedef;
    }
  }
}

.purchase-count-more {
  width: 100%;
  padding: 0.45rem 1rem;
  text-align: center;
  border: solid 1px $brand-secondary;
  border-radius: 0.25rem;

  &.active {
    background-color: $brand-secondary;
    color: white;
  }
}

@media (min-width: 576px) {
  .card-vcc-wrapper {
    margin: 4px auto;
    max-width: 350px;
  }
  .card-ach-wrapper {
    margin: 4px auto;
    max-width: 350px;
  }
}

@media (max-width: 576px) {
  .card-vcc-wrapper,
  .card-ach-wrapper {
    padding: 8px 12px;
    margin: 0 auto;
    min-width: 0;
    max-width: 300px;

    .card-details {
      .value {
        font-size: 18px;
      }
    }
  }

  .card-vcc-wrapper {
    .card-details {
      .card-info-header {
        svg {
          height: 14px;
        }
        .cs-label {
          margin-top: 0;
          font-size: 6px;
        }
        .vc-label {
          margin-top: 4px;
          font-size: 8px;
        }
      }
      .card-info-footer {
        margin-top: 6px;

        .info-text {
          p {
            font-size: 6px;
          }

          span {
            font-size: 8px;
          }
        }
      }
    }
  }

  .card-ach-wrapper {
    .card-details {
      .card-info-header {
        margin-bottom: 20px;
      }
    }
  }
}
