// Here you can add other styles
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

p,
label {
  font-family: "Open Sans", sans-serif;
}

p {
  margin-bottom: 0.75rem;
}

label {
  margin-bottom: 0.15rem;

  .label-required {
    color: #e74c3c;
  }
}

button {
  white-space: nowrap;
}

.table {
  th {
    font-family: "Josefin Sans", sans-serif;
    white-space: nowrap;
  }

  td {
    white-space: nowrap;
    vertical-align: middle;
  }

  &.table-hover {
    tr:hover td {
      background-color: rgba(61, 146, 194, 0.25);
    }
  }
}

.c-sidebar {
  background-color: #001d3d;

  .c-sidebar-brand {
    background-color: $brand-primary;
  }

  .c-sidebar-nav-dropdown-items {
    .c-sidebar-nav-link {
      padding-left: 96px !important;
    }
  }

  .btn-group-bottom {
    width: 100%;
    margin: 60% 0 0;
    padding: 0 1rem;

    .dropdown-sidebar {
      background-color: $brand-primary;
      padding: 4px 0;
      border-radius: 4px;
      .dropdown-sidebar-item {
        padding: 6px 16px;

        &:hover {
          cursor: pointer;
          background-color: $brand-primary-active;
        }

        p {
          color: white;
          margin-bottom: 0;
        }
      }
    }
  }
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  background-color: $brand-primary-active;
}

.toggle-light-dark-btn {
  min-width: 25px;
}

.modal {
  .modal-title {
    text-transform: capitalize;
  }

  .close {
    color: white;
    opacity: 1;
  }
}

.dropdown-toggle.no-arrow-down {
  &::after {
    display: none;
  }
}

.btn-text-link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.c-switch {
  .c-switch-slider {
    background-color: #acb4bc;
  }
}

.floating-action-table {
  padding-top: 47px;
  -webkit-box-shadow: -10px 0px 5px -10px rgba(0, 0, 0, 0.25);
  box-shadow: -10px 0px 5px -10px rgba(0, 0, 0, 0.25);

  .floating-action-item {
    padding: 11px 0 11px 12px;
  }
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.table-not-relative {
  .position-relative {
    position: unset !important;
  }
  .dropdown {
    position: unset;
  }
}

div.default-select__control {
  border-color: #e4e7ea;
  min-height: 35px;

  .default-select__indicator {
    padding: 6px 12px;
  }

  .default-select__placeholder {
    white-space: nowrap;
  }

  &.default-select__control--is-focused {
    color: #5c6873;
    background-color: #fff;
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 53, 102, 0.25);
  }
}

div.is-invalid {
  div.default-select__control {
    border-color: #e55353;
  }
}

.toggle-all-setting svg{
  visibility: hidden;
  opacity: 0;
}

.callout {
  border-radius: 0;
  box-shadow: 0 0px 2px #0000001f;
  border-left: 4px solid #e9ecef;
  margin-bottom: 1rem;
  padding: 1rem;
}

// *******************************************

@media (min-width: 768px) {
  .search-card-header {
    width: 50%;
  }
}
