.c-dark-theme {
  .breadcrumb-item {
    a {
      color: $brand-secondary;
    }
  }

  .c-sidebar {
    .c-sidebar-nav-link {
      &:hover {
        background-color: $brand-secondary;
      }
    }
  }

  .table {
    &.table-hover {
      tr:hover td {
        background-color: rgba(61, 146, 194, 0.25);
      }
    }

    a {
      color: $brand-secondary;

      &:hover {
        color: $brand-secondary-active;
      }
    }
  }

  .pagination {
    .page-item.active {
      .page-link {
        background-color: $brand-secondary;
      }
    }
  }

  .modal {
    .close {
      color: white;
      opacity: 1;
    }
  }

  .modal-receipt {
    .receipt-table {
      .t-body {
        background-color: #0e0e15;
      }
    }
  }

  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:hover {
    background-color: $brand-secondary-active;
  }

  .dropdown-sidebar {
    background-color: $brand-secondary !important;
    .dropdown-sidebar-item {
      &:hover {
        background-color: $brand-secondary-active !important;
      }
    }
  }

  div.default-select__control {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.09);

    &.default-select__control--is-focused {
      color: rgba(255, 255, 255, 0.87);
      background-color: rgba(255, 255, 255, 0.05);
      border-color: rgba(255, 255, 255, 0.2);
    }

    .default-select__placeholder,
    .default-select__single-value,
    .default-select__input {
      color: rgba(255, 255, 255, 0.87);
    }
  }

  div.default-select__menu {
    background-color: #2a2b36;
    border-color: rgba(255, 255, 255, 0.09);

    .default-select__option--is-focused {
      background-color: #5c6873;
    }

    .default-select__option--is-selected {
      background-color: $brand-secondary;
    }
  }

  .flight-passenger-form {
    background-color: #181a24;
  }

  .card-shadow {
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
  }

  .icon-button-primary {
    color: $brand-secondary;

    &:hover {
      background-color: rgba(61, 146, 194, 0.25);
    }
  }

  .card-button-list {
    ._item {
      color: $brand-secondary;
      background-color: transparent;

      &:hover {
        background-color: rgba(61, 146, 194, 0.25);
      }
    }
  }
}
