.overflow-auto {
  overflow: auto;
}

.flex-auto {
  flex: auto;
}

.w-30 {
  width: 30% !important;
}

.w-48 {
  width: 48% !important;
}

.text-lg {
  font-size: 24px;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .w-md-unset {
    width: unset !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }
}
