// Variable overrides
$brand-primary: #003566;
$brand-secondary: #3d92c2;
$brand-primary-active: #00284d;
$brand-secondary-active: #2e6d91;
$brand-success: #399e5a;
$brand-warning: #ffc107;
$brand-danger: #e96057;
$gray-300: #c8ced3;
$gray-500: #8f9ba6;

$theme-colors: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
  "success": $brand-success,
  "warning": #ffc107,
);

$theme-colors__lt: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
);

$theme-colors__dt: (
  "primary": $brand-secondary,
  "secondary": $brand-secondary,
);
